body {
    background-color: #2d2e40;
    color: #f5b7ef;
    font-family: Arial, Helvetica, sans-serifsans-serif;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    font-size: 15px
}
.Predator {
    background-color: #31591e;
    color: #f23838;
}

.Venom {
    text-align-last: center;
    background-color: white;
    color: #f2f2f2;
    background-image: url(Images/wall2.jpg);
    background-position: center;
}

.Xeno{
    text-align-last: center;
    background-color: purple;
    color: #f2f2f2;
    background-image: url(Images/xenoWall.jpg);
    background-position: center;
}
.bodyPageX {
    color: white;
    background-color: black;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.Pred{
    text-align-last: center;
    background-color: purple;
    color: #f2f2f2;
    background-image: url(Images/backgroundP.jpg);
    background-position: center;
}
.bodyPageP {
    color: black;
    background-color: forestgreen;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.bodyPage {
    color: black;
    background-color: white;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;    
}

.Home {
    align-content: center;
    text-align-last: center;
    background-color: white;
    color: #f2f2f2;
    background-image: url(Images/Collage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.bodyPageH {
    color: #ffffff;
    background-color: #a7a7b4;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.links{
    margin-left: auto;
    margin-right: auto;
}

.BannerHome{color: darkturquoise;
        background-image: url(Images/Banner4.png);
        background-position: center;
        background-repeat: no-repeat;
}


.Kraang {
    text-align-last: center;
    background-color: purple;
    color: #f2f2f2;
    background-image: url(Images/logo.jpg);
    background-position: center;
}

.bodyPageK {
    color: purple;
    background-color: darkgrey;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;    
}

.center {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 300px){
  body {
    margin: 20px;
    font-size: 20px;
    text-align: left
  }
    }
@media screen and (max-width: 350px){
  body {
    margin: 50px;
    font-size: 30;
  }
    }